<div *ngIf="socialShareImage" class="overlay">
    <div class="overlay-background"></div>
    <div class="overlay-content">
        <img [src]="socialShareImage" class="popover-share-image"/>
        <div class="overlay-buttons">
            <button (click)="clearSocialImage()" class="btn simp-button">Close</button>
            <button *ngIf="canShare()" (click)="shareImage()" class="btn simp-button">Share</button>
            <button *ngIf="!canShare()" (click)="downloadImage()" class="btn simp-button">Download</button>
        </div>
    </div>
</div>
<canvas id="socialCanvas"></canvas>
<div class="container input" [ngClass]="show ? 'small' : ''" id="input-container">
    <div class="row w-100 justify-content-center">
        <div class="col-12 text-center">
            <img class="logo" src="/assets/img/simp-logo.svg" />
        </div>
        <div class="col-12 col-xl-8">
            <div class="input-div-main">
                <div class="input-group">
                    <input #address [value]="address$ | async" placeholder="Fill in your wallet address to watch simps"
                        type="text" class="form-control" (keyup.enter)="retrieveSimpInformation($event.target.value)">
                    <button class="btn" type="button" (click)="retrieveSimpInformation(address.value)"
                        [disabled]="!address" id="watch me">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!loading">Simp me!</span>
                    </button>
                </div>
            </div>
            <div *ngIf="showNoSimpBalance" class="no-simp-balance">
                <div>
                    <p>No SIMP balance found</p>
                    <button class="btn simp-button" (click)="buySimpPancake()">
                        Buy
                        <img src="/assets/img/simp-whole-logo.svg" class="buy-simp-img-button-no-balance">
                    </button>
                </div>
                <img src="/assets/img/buy-simp.png">
            </div>
            <div *ngIf="!show" class="socials">
                <a href="https://letsallsimp.com/" target="_blank"><fa-icon class="soc-icon" [icon]="['fas','globe-europe']"></fa-icon></a>
                <a href="https://t.me/letsallsimp" target="_blank"><fa-icon class="soc-icon" [icon]="['fab','telegram-plane']"></fa-icon></a>
                <a href="https://instagram.com/letsallsimp" target="_blank"><fa-icon class="soc-icon" [icon]="['fab','instagram']"></fa-icon></a>
                <a href="https://twitter.com/letsallsimp" target="_blank"><fa-icon class="soc-icon" [icon]="['fab','twitter']"></fa-icon></a>
            </div>
        </div>
    </div>
</div>

<div class="container output" *ngIf="show">
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="input-div-main">
                <h2 class="text-center">My wallet</h2>
                <div class="rounded-lg text-center" *ngIf="!accountBalance">
                    <span class="spinner-border spinner-border-sm"></span>
                </div>
                <div class="bg-white rounded-lg white-card" *ngIf="accountBalance">
                    <div class="text-simp-pink">Balance</div>
                    <div class="text-black"><img src="/assets/img/simp-currency-logo.svg" /> {{ accountBalance | million: '1.0-0' }}
                        <span class="d-flex fa-pull-right text-black">$ {{ simpDollarBalance | number: '1.2-2' }}</span>
                    </div>
                </div>
                <div class="bg-white rounded-lg white-card" *ngIf="totalReflections">
                    <div class="text-simp-pink">Earned Reflections</div>
                    <div class="text-black"><img src="/assets/img/simp-currency-logo.svg" /> {{ totalReflections |
                        million }} 
                        <span class="d-flex fa-pull-right text-black profit">$ {{ (totalReflections / 1000000) * simpPrice | number: '1.2-2' }}</span>
                    </div>
                </div>
                <div (click)="shareSocial()" class="bg-white rounded-lg white-card share-card" *ngIf="PNLDollar">
                    <div class="text-simp-pink">P&L</div>
                    <div class="text-black" [ngClass]="percentageProfit < 0 ? 'loss' : 'profit'">$ {{ PNLDollar | number: '1.2-2' }} <span *ngIf="percentageProfit" class="d-flex fa-pull-right text-black" [ngClass]="percentageProfit < 0 ? 'loss' : 'profit'">{{ percentageProfit | number: '1.2-2' }} %</span></div>
                    <fa-icon class="share-icon" [icon]="['fas','share-square']"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-12 d-none d-lg-block col-lg-4">
            <img src="/assets/img/space-simp.png" class="col-img">
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="input-div-main no-bg">
                <h2 class="text-center">Overview</h2>
                <div class="bg-white rounded-lg white-card">
                    <div class="text-simp-pink">Current Price</div>
                    <div class="text-black">$ {{ simpPrice | number: '1.2-10'}}</div>
                </div>
                <div class="bg-white rounded-lg white-card">
                    <div class="text-simp-pink">Marketcap</div>
                    <div class="text-black">$ {{ marketcap | number: '1.0-0' }}</div>
                </div>
                <div class="bg-white rounded-lg white-card">
                    <div class="text-simp-pink">Circulating supply</div>
                    <div class="text-black"><img src="/assets/img/simp-currency-logo.svg" /> {{ circulationSupply |
                        number }}</div>
                </div>
                <div class="socials">
                    <a href="https://letsallsimp.com/" target="_blank"><fa-icon class="soc-icon" [icon]="['fas','globe-europe']"></fa-icon></a>
                    <a href="https://t.me/letsallsimp" target="_blank"><fa-icon class="soc-icon" [icon]="['fab','telegram-plane']"></fa-icon></a>
                    <a href="https://instagram.com/letsallsimp" target="_blank"><fa-icon class="soc-icon" [icon]="['fab','instagram']"></fa-icon></a>
                    <a href="https://twitter.com/letsallsimp" target="_blank"><fa-icon class="soc-icon" [icon]="['fab','twitter']"></fa-icon></a>
                </div>
                <!-- Todo: find  out  how  to get volume, coingecko?               -->
                <!--                <div class="bg-white rounded-lg white-card">-->
                <!--                    <div class="text-simp-pink">Volume</div>-->
                <!--                    <div class="text-black">$46,769</div>-->
                <!--                </div>-->
            </div>
        </div>

        <div class="col-12 col-md-4 image-col">
            <img src="/assets/img/buy-simp.png" class="col-img">
            <div class="button-div">
                <button class="btn simp-button" (click)="buySimpPancake()">
                    Buy
                    <img src="/assets/img/simp-whole-logo.svg">
                </button>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <p class="d-flex justify-content-end toggle">BNB <ui-switch class="mr-1 ml-1" size="small" defaultBgColor="#ff3654"
                    defaultBoColor="black" switchColor="#fcfcfc" color="#39e5fd" [(ngModel)]="showUSD"></ui-switch> USD
            </p>
            <div class="input-div-main">
                <h2 class="text-center">Transactions</h2>
                <div class="rounded-lg text-center" *ngIf="!transactions">
                    <span class="spinner-border spinner-border-sm"></span>
                </div>
                <ng-container *ngFor="let transaction of transactions">
                    <div *ngIf="transaction.bnbPrice" class="bg-white rounded-lg white-card">
                        <div class="row">
                            <div class="col-10 col-md-6">
                                <div class="text-simp-pink">{{ transaction.timeStamp * 1000 | date:'d MMM, y, H:mm' }}
                                </div>
                                <div class="text-black" *ngIf="transaction.bought">
                                    <img src="/assets/img/simp-currency-logo.svg" />
                                    {{ transaction.value | million }}

                                </div>
                                <div class="text-black" *ngIf="!transaction.bought">
                                    <img src="/assets/img/simp-currency-logo.svg" />
                                    {{ transaction.value / 0.915 | million }}

                                </div>
                            </div>
                            <div class="col-2 col-md-2 d-flex justify-content-end align-content-center">
                                <span *ngIf="transaction.transferIn === true" class="chip transfer-chip fa-pull-right">IN</span>
                                <span *ngIf="transaction.transferIn === false" class="chip transfer-chip fa-pull-right">OUT</span>
                                <span *ngIf="transaction.bought && transaction.transferIn === null" class="chip buy-chip fa-pull-right">BUY</span>
                                <span *ngIf="!transaction.bought && transaction.transferIn === null" class="chip sell-chip fa-pull-right">SELL</span>
                            </div>
                            <div class="col-12 col-md-4 d-flex justify-content-end align-content-center">
                                <div *ngIf="!showUSD && transaction.bnbAmount" class="price justify-content-end fa-pull-right">{{
                                    transaction.bnbAmount | number: '1.0-8' }} BNB</div>
                                <div *ngIf="showUSD && transaction.bnbAmount" class="price justify-content-end fa-pull-right">$ {{
                                    transaction.bnbAmount * transaction.bnbPrice | number: '1.0-2' }}</div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="container" id="footer">
    <div class="justify-content-center">
        <div class="col-12 text-center">
            <a href="https://watchmesimp.com" target="_blank" class="copyright">© WatchMeSimp.com</a><br>
            <a href="https://didux.io" target="_blank" class="copyright-sub">WatchMeSimp is build with <fa-icon
                    icon="heart" class="love"></fa-icon> by didux.io.</a>
        </div>
    </div>
</div>
