:host {

    .copyright {
        font-size: 16px;
        color: white;
        font-weight: 400;
        opacity: 0.8;
        margin-bottom: 0;
        &:hover {
            text-decoration: none;
        }
    }

    #footer {
        padding-bottom: 16px;
    }

    .button-div {
        justify-content: center;
        display: flex;
    }

    .simp-button {
        background: #F53655;
        color: white;
        border-radius: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 150px;
        font-weight: bold;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        img {
            width: 75px;
        }
    }

    .text-black.loss {
        color: rgb(255, 68, 68);
    }

    .no-simp-balance {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 200px;
        }
    }

    .text-black.profit {
        color: rgb(0, 200, 81);
    }

    .socials {
        text-align: center;
        padding-top: 10px;

        .soc-icon {
            font-size: 26px;
            color: #f9f9f9;
            cursor: pointer;
            margin: 5px 10px 5px 10px;

            &:hover {
                color: #F53655;
            }
        }
    }

    .chip {
        border-radius: 8px;
        padding: 2px 6px 2px 6px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: auto;
    }

    .buy-chip {
        color: rgb(0, 200, 81);
        border: 1px solid rgb(0, 200, 81);
        background-color: rgba(0, 200, 81, .2);
    }

    .sell-chip {
        color: rgb(255, 68, 68);
        border: 1px solid rgb(255, 68, 68);
        background-color: rgba(255, 68, 68, .2);
    }

    .transfer-chip {
        color: rgb(51, 181, 229);
        border: 1px solid rgb(51, 181, 229);
        background-color: rgba(51, 181, 229, .2);
    }

    .toggle {
        margin: 5px 0 5px;
    }

    .image-col {
        padding: 20px 0 20px;
    }

    .copyright-sub {
        font-size: 14px;
        font-weight: 300;
        color: white;
        opacity: 0.7;

        &:hover {
            text-decoration: none;
        }

        .love {
            color: #ff3654;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .price {
        color: rgba(0,0,0,0.7);
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        margin: auto;
        margin-right: 0;
    }

    .text-simp-pink {
        font-size: 14px;
        color: rgba(255,54,84,1);
        text-transform: uppercase;
    }

    .text-black {
        color: rgba(0,0,0,1);
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
    }

    .popover-share-image {
        max-width: 400px;
    }

    .white-card {
        position: relative;
        padding: 6px 14px 6px 14px;
        margin-bottom: 10px;

        img {
            width: 18px;
            margin-right: 4px;
        }
    }

    .share-card {
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    .share-icon {
        color: black;
        position: absolute;
        top: 4px;
        right: 10px;
    }

    .buy-simp-img-button-no-balance {
        width: 60px !important;
    }

    .col-img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto;
    }

    .input {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .output {
        //height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }

    .logo {
        position: absolute;
        width: 300px;
        top: -75px;
        left: calc(50% - 150px);
        z-index: 1;
    }

    .input.small {
        width: 100%;
        max-width: 100%;
        height: 76px;
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;

        .logo {
            top: 100px;
            left: calc(50% - 100px);
            width: 200px;
            z-index: 1;
            -webkit-transition: all 2s ease;
            -moz-transition: all 2s ease;
            -o-transition: all 2s ease;
            transition: all 2s ease;
        }

        .input-div-main {
            width: 100%;
            padding: 19px;
            background: linear-gradient(135deg,#39e5fd 0,#39e5fd 15%,#ff3654 85%,#ff3654 100%);
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            -webkit-transition: all 2s ease;
            -moz-transition: all 2s ease;
            -o-transition: all 2s ease;
            transition: all 2s ease;
        }
    }

    .input-div-main.no-bg {
        background: none;
        padding-top: 20px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2;
    }

    #socialCanvas {
        width: 0;
        height: 0;
    }

    .overlay-background {
        background: black;
        height: 100%;
        opacity: 0.9;
    }

    .overlay-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 16px;
    }

    .overlay-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    .input-div-main {
        width: 100%;
        padding: 40px 20px 40px 20px;
        margin-bottom: 20px;
        background: linear-gradient(135deg,#39e5fd 0,#39e5fd 15%,#ff3654 85%,#ff3654 100%);
        border-radius: 10px;

        input {
            border-radius: 5px;
            outline: none;
            border: none;
            padding: 8px;
            font-size: 16px;
            font-weight: 400;
            color: white;
            background: rgba(16, 18, 23, 0.2);

            &::placeholder {
                color: white;
            }
        }

        button {
            margin-left: 16px;
            background: rgba(16, 18, 23, 0.6);
            color: white;
            font-weight: 500;
            align-items: center;
            width:100px;
        }
    }

    .spinner-border {
        margin-left: 8px;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }
}
