<div class="container input" [ngClass]="show ? 'small' : ''" id="input-container">
    <div class="row w-100 justify-content-center">
        <div class="col-12 text-center">
            <img class="logo" src="/assets/img/simp-logo.svg" />
        </div>
        <div  class="col-12 col-xl-8">
            <div class="input-div-main">
                <div class="input-group">
                    <input #address [value]="address$ | async" placeholder="0x11C43f8B67Fcc8270d53a795E95B09bBBbbf3ad5" type="text" class="form-control">
                    <button class="btn" type="button" (click)="retrieveSimpInformation(address.value)" [disabled]="!address" id="watch me">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!loading">Simp me!</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container output" *ngIf="show">
    <div class="row w-100 justify-content-center">
        <div  class="col-12 col-md-6 col-lg-4">
            <div class="input-div-main">
                <h2 class="text-center">My wallet</h2>
                <div class="rounded-lg text-center" *ngIf="!accountBalance">
                    <span class="spinner-border spinner-border-sm"></span>
                </div>
                <div class="bg-white rounded-lg white-card" *ngIf="accountBalance">
                    <div class="text-simp-pink">Balance</div>
                    <div class="text-black"><img src="/assets/img/simp-currency-logo.svg" /> {{ accountBalance | million }}</div>
                </div>
<!--                <div class="bg-white rounded-lg white-card">-->
<!--                    <div class="text-simp-pink">Average price</div>-->
<!--                    <div class="text-black">$0.0000120251</div>-->
<!--                </div>-->
                <div class="bg-white rounded-lg white-card" *ngIf="totalReflections">
                    <div class="text-simp-pink">Reflections</div>
                    <div class="text-black"><img src="/assets/img/simp-currency-logo.svg" /> {{ totalReflections | million }}</div>
                </div>
                <div class="bg-white rounded-lg white-card" *ngIf="simpDollarPrice">
                    <div class="text-simp-pink">Value</div>
                    <div class="text-black">$ {{ simpDollarPrice }}</div>
                </div>
            </div>
        </div>
        <div  class="col-12 d-none d-lg-block col-lg-4">
            <img src="/assets/img/space-simp.png" class="col-img">
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="input-div-main no-bg">
                <h2 class="text-center">Overview</h2>
                <div class="bg-white rounded-lg white-card">
                    <div class="text-simp-pink">Current Price</div>
                    <div class="text-black">$ {{ simpPrice | number: '1.2-10'}}</div>
                </div>
                <div class="bg-white rounded-lg white-card">
                    <div class="text-simp-pink">Marketcap</div>
                    <div class="text-black">$ {{ marketcap | number: '1.0-0' }}</div>
                </div>
                <div class="bg-white rounded-lg white-card">
                    <div class="text-simp-pink">Circulating supply</div>
                    <div class="text-black"><img src="/assets/img/simp-currency-logo.svg" /> {{ circulationSupply | number }}</div>
                </div>
<!-- Todo: find  out  how  to get volume, coingecko?               -->
<!--                <div class="bg-white rounded-lg white-card">-->
<!--                    <div class="text-simp-pink">Volume</div>-->
<!--                    <div class="text-black">$46,769</div>-->
<!--                </div>-->
            </div>
        </div>

        <div class="col-12 col-md-4">
            <img src="/assets/img/buy-simp.png" class="col-img">
        </div>
        <div  class="col-12 col-md-8">
            <div class="input-div-main">
                <h2 class="text-center">Transactions</h2>
                <div class="rounded-lg text-center" *ngIf="!transactions">
                    <span class="spinner-border spinner-border-sm"></span>
                </div>
                <div *ngFor="let transaction of transactions" class="bg-white rounded-lg white-card">
                    <div class="text-simp-pink">{{ transaction.timeStamp * 1000 | date:'d MMM, y, H:mm' }}</div>
                    <div class="text-black">
                        <img src="/assets/img/simp-currency-logo.svg" /> 
                        <span *ngIf="!transaction.bought">-</span>
                        <span *ngIf="transaction.bought">+</span>
                        {{ transaction.value | million }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="footer">
    <div class="row w-100 justify-content-center">
        <div class="col-12 text-center">
            <a href="https://watchmesimp.com" target="_blank" class="copyright">© WatchMeSimp.com</a>
            <p class="copyright-sub">WatchMeSimp is build with love for the SIMP community.</p>
        </div>
    </div>
</div>

<!--<div class="container output" *ngIf="accountBalance" id="output-container">-->
<!--    <div class="input-div-main">-->
<!--        <div class="result-div">-->
<!--            <div class="information-price">-->
<!--                <p class="header">SIMP Price</p>-->
<!--                <div class="balance-amount-div">-->
<!--                    <p class="value">${{ simpPrice }}</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="divider"></div>-->
<!--            <div class="information-balance">-->
<!--                <p class="header">SIMP Balance</p>-->
<!--                <div class="balance-amount-div">-->
<!--                    <img src="/assets/img/simp-currency-logo.svg" />-->
<!--                    <p class="value">{{ accountBalance | million }} - (${{ simpDollarPrice }}) - {{ simpBnbPriceCalculated }} BNB</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="divider"></div>-->
<!--            <div class="information-reflections">-->
<!--                <p class="header">Total reflections</p>-->
<!--                <div class="balance-amount-div">-->
<!--                    <img src="/assets/img/simp-currency-logo.svg" />-->
<!--                    <p class="value">{{ totalReflections | million }} - (${{ simpReflectionsDollarPrice }}) - {{ simpReflectionsBnbPrice }} BNB</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="divider"></div>-->
<!--            <div class="information-transactions">-->
<!--                <p class="header">Transactions</p>-->
<!--                <div *ngFor="let transaction of transactions"class="transaction-item">-->
<!--                    <div class="balance-amount-div transaction-div">-->
<!--                        <div class="transaction-value-left">-->
<!--                            <div>-->
<!--                                <p class="value">{{ transaction.timeStamp * 1000 | date:'d MMM, y, H:mm' }}</p>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <img src="/assets/img/simp-currency-logo.svg" />-->
<!--                                <p class="value simp-value">{{ transaction.value | million }}</p>-->
<!--                                <p class="value">- ({{ transaction.bnbAmount }} BNB)</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p class="value link" (click)="openTransactionLink(transaction)"> (Link)</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
